body, html{
  margin: 0;
  padding: 0;
}
.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.recipe-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
}

.recipe-card > img{
  max-width: 50%;
  height: auto;
}